@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/globals.scss";

.footerStyle {
  position: inherit;
  background: transparent !important;
  font-weight: bold !important;
  color: $secondary !important;
  .FooterContentStyle {
    width: 100%;
    text-align: center;
  }
}