
//font colors
$fontColor: #000000;
$headerFontColor: #00000099; //header font color

//background colors
$backgroundColor: #f2f2f2;

$headerBackgroundColor1: #f2f2f2;
$headerBackgroundColor2: #f2f2f2;

$bodyContentBackgroundColor1: #f2f2f2;
$bodyContentBackgroundColor2: #f2f2f2;

$footerBackgroundColor1: #f2f2f2;
$footerBackgroundColor2: #f2f2f2;

//component colors
$searchBarColor: #000000;

//menu & navigations
$mainMenuSelectedFontColor: #0093e9; // main menu selected font color

$categoryMenuSelectedBackgroundColor: #0093e9; // category menu selected background color
$categoryMenuSelectedFontColor: #f2f2f2; // category menu selected font color

$orderByMenuSelectedFontColor: #0093e9; // order by menu selected font color

//buttons
$tagColor: #dcdcdc; //tag color

$commentButtonFontColor: #f2f2f2; //comment button font color
$commentButtonBackgroundColor: #d34600; //comment button background color
$commentButtonBorderColor: #f2f2f2; //comment button border color

$loginButtonFontColor: #f2f2f2; //login button font color
$loginButtonBackgroundColor: #0093e9; //login button background color
$loginButtonBorderColor: #0093e9; //login button border color

//no need to change
$errorColor: #ff0000;
$cautionColor: #d34600;
  