@import "../styles/mixins.scss";
@import "../styles/common.scss";
// @import "../app/globals.scss";

.ContainerPageContainerStyle {
  display: flex !important;
  flex-direction: column !important;
  min-height: 98vh !important;
  margin: 0 !important;
  color: $fontColor !important;
  font-size: 16px !important;
  background-color: $backgroundColor !important;

  :global {
    .MuiChip-label {
      font-size: 14px !important;
    }

    .MuiTypography-root {
      font-size: 14px !important;
    }
  }

  h1,
  h1 a,
  h2,
  h2 a {
    color: $fontColor !important;
  }


}

.HomePageInfoStyle {
  color: $fontColor;

  h1 {
    color: rgba(0, 0, 0, 0.6);
  }
}

.ContentStyle {
  padding-top: 20px !important;


  .ContentContainerStyle {
    // background-color: $bodyContentBackgroundColor !important;
    background: $bodyContentBackgroundColor1;
    background: radial-gradient(circle, $bodyContentBackgroundColor1 0%, $bodyContentBackgroundColor2 100%);
  }
}

.FindTitleHeaderStyle {
  margin: "0px";
  text-align: center !important;
  color: rgba(0, 0, 0, 0.6);
}

.content {
  width: 100%;
}


.gridContainer {
  display: flex;
  justify-content: flex-start; // Sol baştan başlama
  max-width: 1200px;

  @include desktop {
    margin: 0 auto !important;
  }

  .gridItem {
    @include tablet-or-less {
      display: flex;
      justify-content: center;
    }
  }

  // 
}

.HeaderStyle {
  @include tablet-or-less {
    // min-height: 65px !important;
    position: sticky !important;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}