@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/globals.scss";

.ContainerPageContainerStyle {
  display: flex !important;
  flex-direction: column !important;
  min-height: 98vh !important;
  margin: 0 !important;
  color: $main !important;
  font-size: 16px !important;

  :global {
    .MuiChip-label {
      font-size: 14px !important;
    }

    .MuiTypography-root {
      font-size: 14px !important;
    }
  }

  h1,
  h1 a,
  h2,
  h2 a {
    color: $secondary !important;
  }

  .HeaderStyle {
    @include tablet-or-less {
      min-height: 65px !important;
    }
  }
  
  
}

.HomePageInfoStyle {
  color: $main;
  h1 {
    color: $secondary;
  }
}

.PanelContainerStyle {
  background-color: white !important;
  border-radius: 5px; 
  // padding-top: 50px;
}