@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/common.scss";

.HomePageInfoStyle {
  color: $fontColor;
  h1 {
    color: rgba(0, 0, 0, 0.6);
  }

  .ArticleImageContainerStyle{
    width: 100%;  
    position: relative; 
    height: 40vh; 
    @include tablet-or-less{
      height: 25vh; 
    }
  }

  .HeaderActionsContainerStyle{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  
}

.PanelContainerStyle {
  // background-color: $bodyContentBackgroundColor !important;
  background: $bodyContentBackgroundColor1;
    background: radial-gradient(circle, $bodyContentBackgroundColor1 0%, $bodyContentBackgroundColor2 100%);
  border-radius: 5px;
  margin-left: 30px; 
  margin-right: 30px; 
}