$main: black;
$secondary: rgba(0, 0, 0, 0.6);
$blue: #5a94ca;
$blueDark: #02539D;
$orange: #e4b9a3;
$darkColor: gray;
// $orangeDark: #f26118;
$orangeDark: #d34600;
$background: #F2F2F2;
$containerBackgroundDesktop: rgba(255, 255, 255, 0.5);
$containerBackgroundMobile: rgba(255, 255, 255, 0.4);
$containerBackgroundHeader: rgba(255, 255, 255, 0.85);
// background-color: #0093E9;
// background-image: 

$white: white;
$yellow: #FAF8BF;
$gold: gold;
$bronze: #C28F2B;
$fontTitle: rgb(108, 115, 130);
$font: #02539D;

/*
Lacivert
Mavi
Gri
Sarı
Turuncu 

#FBECDA
#EE4E34

#02539D
#EEA47F

#2F3C7E
#F9EAEC

#89AAE5
#FFFFFF

#ADD8E6
#00008C

#89AAE4
#EA738D

#E3B447
#CBD190
#3A6B34

#FFA351
#FFBE7C
#EDD871

#FD7669
#793937
#F1AD88

#AB96DB
#C5F9D6
#FFFFD2

#2AAE66
#FCF6F6

#DDC2A5
#201E21
#E0AA6E

#234E70
#FAF8BF

#CCF281
#4832D5

#E2D1F9
#307773

#990112
#FCF6F6

#B95144
#E7E8D2
#A6BEAE
*/